.counter-section__con-div {
	text-align: center;
	color: var(--txt-color);
}

.counter-section__main-title {
	font-weight: 700;
	font-size: 35px;
	margin-bottom: 25px;
}

.counter-section__sec-title {
	font-weight: 500;
	margin-bottom: 35px;
	position: relative;
}

.counter-section__sec-title:before {
	content: '—';
	width: 43px;
	height: 2px;
	position: absolute;
	left: 525px;
}

.counter-section__sec-title:after {
	content: '—';
	width: 43px;
	height: 2px;
	position: absolute;
	right: 525px;
}

.counter-section__text {
	font-size: 18px;
	white-space: pre-line;
	margin-bottom: 50px;
}



.counter-section__list {
	display: flex;
	counter-reset: section;
	list-style-type: none;
}

.counter-section__circle {
	background-color: var(--second-color);
	width: 122px;
	height: 122px;
	border: none;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 15px;
	position: relative;
}

.counter-section__circle:before {
	content: counter(section, decimal);
	counter-increment: section;
    font-weight: 500;
    font-size: 57px;
    color: #fff;
    position: absolute;
    top: 30px;
    right: 45px;
}

.counter-section__desc-text {
	font-weight: 500;
	font-size: 20px;
}